<footer
  class="w-full border-white border-t-2 flex flex-col md:flex-row pt-10 pb-20 justify-center items-center md:justify-between gap-y-10"
>
  <span class="text-center"
    >© 2024 FINCA App | Todos los derechos reservados</span
  >
  <ul class="flex flex-row gap-x-6 items-center">
    <li>
      <a
        target="_blank"
        rel="noopener"
        href="https://www.instagram.com/"
        class="hover:scale-125 hover:opacity-70 transition inline-block"
      >
        <img src="../../public/instagram.svg" alt="IG Logo" />
      </a>
    </li>
    <li>
      <a
        target="_blank"
        rel="noopener"
        href="https://www.instagram.com/"
        class="hover:scale-125 hover:opacity-70 transition inline-block"
      >
        <img src="../../public/wsp.svg" alt="WSP Logo" />
      </a>
    </li>
  </ul>
</footer>
