---
import FincaLogo from "../components/FincaLogo.astro";
---

<section class="flex flex-col justify-center items-center">
  <span class="text-xl uppercase text-white bg-black px-6 py-1 mb-9 font-medium"
    >Finca</span
  >
  <FincaLogo />
</section>
