---
// Supports weights 100-900
import "@fontsource-variable/jost";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  html {
    font-family: "Jost Variable", system-ui, sans-serif;
    background: radial-gradient(
      circle,
      rgba(27, 137, 110, 1) 0%,
      rgba(0, 40, 39, 1) 100%
    );
  }
</style>
